# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.env
.venv
env/
venv/
.venv-sdxl-controlnet/
sdxl_controlnets_venv/
ENV/
env.bak/
venv.bak/
.aider*

model_*.log
